/* box model terdiri dari = margin, padding, border dan content */

/* content (didalam box bisa berupa teks dan gambar)*/

/* properti margin, padding, dan border */
/*.class {
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
    margin: ;
}
.class {
    padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ;
    padding: ;
}
.class {
    border-top: ;
    border-right: ; 
    border-bottom: ;
    border-left: ;
    border: ;
} */

.margin {
  text-align: center;
  text-decoration: underline;
  background-color: lightblue;
  border-radius: 5rem;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: normal;
}

.paddingborder {
  text-align: center;
  background-color: lightcoral;
  text-decoration: underline;
  border-radius: 5rem;
  font-weight: normal;
  font-style: italic;
}

/* margin (area transparan sekitar diluar border)*/
/* contoh penggunaan margin */

.satu {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  /* margin bisa akses 1-4 nilai value (shorthand) */
  margin: 30px 20px 50px 10px;
}

.dua {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 30px;
  margin-bottom: 20px;
}

.tiga {
  width: 50px;
  height: 50px;
  background-color: violet;
  margin-top: 50px;
}

/*paddding (area transparan dalam kotak antara content dan border)*/
/* contoh penggunaan padding */
/* padding tidak bisa jadikan nilai negatif, auto, dan berpengaruh pada tabel bila diukur */
.box {
  width: 190px;
  height: 200px;
  background-color: coral;
  margin: 50px auto;
  padding: 50px;
}

/* border (batas dikelilingi content dan padding) */
/* border: width style color; */
/* style : solid, dotted, dashed, double */
/* total dimensi: widht/height, padding + border */

/* .box {border: 5px solid black;} */
.box {
  border-left: 5px solid black;
  border-right: 5px dotted rgb(53, 90, 255);
}

/* mengakali ukuran padding dan border cth [div semua = 600px-(2*10)-(2*5)=570px] */
div {
  width: 600px;
  margin: 10px auto;
}

.p1 {
  width: 570px;
  background-color: cornflowerblue;
  padding: 10px;
  border: 5px solid black;
}

.p2 {
  width: 530px;
  background-color: rgb(255, 166, 0);
  padding: 20px;
  border: 15px dashed rgb(0, 191, 255);
}

/* style tag (box-sizing) lebih mempermudah tanpa harus mengakali ukuran diatas */
.p3 {
  background-color: lightcoral;
  padding: 10px;
  border: 15px solid black;
  box-sizing: border-box;
}

.p4 {
  background-color: violet;
  padding: 20px;
  border: 10px dotted lightcyan;
  box-sizing: border-box;
}
